.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 150px;
  color: rgb(38, 91, 204);
  background-image: url('https://i.pinimg.com/originals/ce/2f/9a/ce2f9a109599a284b214db7984194409.jpg');
  background-size: cover;
}
